
$base-color: #0D47A1;
body, body *{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif2m;
}

.subHeader{
  font-size: 0.9em;
  color: $base-color;
}

.header-data-user{
  display: inline-flex;
  color: $base-color;
  font-size: 0.9em;
  font-weight: bold !important;
}

.w-100{
  width: 100% !important;
}

.mh-6{
  max-height: 6em!important;
}

.mhx-60{
  max-height: 60px;
}

.text-primary{
  color: $base-color;
}

.v-list-item--active{
  font-weight: bold!important;
  color: $base-color!important;
}

.nuxt-component{
  padding-top:2em;
  padding-bottom:2em;
  padding-left: 4em;
  padding-right: 4em;
}
.nuxt-content{
  background: #e0e0e0;
}

.toasted-ok {
  background-color: #2E7D32;
  padding: 0.4em 2em!important;
  border-radius: 5px;
  color:white;
}