# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mariano\Documents\UTN Stuff\3. Tercer Año\Diseño de Sistemas\TPS\tpsClaseDisenio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
